::-webkit-input-placeholder
  color c-whiteish

:-moz-placeholder
  color c-whiteish

::-moz-placeholder
  color c-whiteish

:-ms-input-placeholder
  color c-whiteish

::selection
  background c-pink-bright
  color c-white
  text-shadow 0 1px rgba(c-black, .2)
