<header class='ng-navigation di-clearfix'>
  <h1 class='ng-room-name'>/{{room}}</h1>
  <a href='/random?from={{room}}' class='ng-random fa fa-random'></a>
  <a href='/new' class='ng-new fa fa-magic'></a>
</header>
<form method='post' action='/rooms/{{room}}' class='sh-form'>
  <input name='q' placeholder='Your message...' class='sh-query' autofocus /><button class='sh-submit fa fa-paper-plane'></button>
</form>
<section class='gf-container'>
  {{#gifs}}
    <img src='{{url}}' width='{{width}}' height='{{height}}' class='gf-gif' />
  {{/gifs}}
</section>
<article class='mg-container'>
  {{#history}}
    <section class='mg-item'>
      <span class='mg-message'>{{.}}</span>
      <a href='/fork?q={{.}}' class='mg-fork fa fa-code-fork'></a>
    </section>
  {{/history}}
</article>
<footer>
  <a href='https://github.com/bevacqua/giffy.club' class='fo-github fa fa-github'></a>
</footer>
